<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Gallera</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/galleries}">My Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/galleries/all}">All Galleries</a>
                </li>

                <!-- Show only if NOT logged in -->
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>

                <!-- Show only if logged in -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="nav-link">Welcome, <span sec:authentication="name"></span></span>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link text-danger" th:href="@{/logout}">Logout</a>
                </li>


            </ul>
        </div>
    </div>
</nav>