<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
    <div class="background-image"></div>
    <div class="bg-overlay">
        <div th:replace="fragments/navbar :: navbar"></div>

        <div class="container mt-5 text-light">
            <h2 class="text-center mb-4">Edit Gallery</h2>
            <form th:action="@{/galleries/edit}" th:object="${gallery}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" th:field="*{title}" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <textarea th:field="*{description}" class="form-control"></textarea>
                </div>

                <button type="submit" class="btn btn-outline-light">Update Gallery</button>
            </form>
        </div>
    </div>
</body>
</html>
