<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
    <div class="bg-overlay">
        <div th:replace="fragments/fragments :: navbar"></div>

        <div class="container text-light mt-5 pt-5">
            <h2 class="text-center mb-4">Your Galleries</h2>
            <div class="text-center mb-4">
                <a href="/galleries/create" class="btn btn-outline-light">Create New Gallery</a>
            </div>

            <div class="row" th:each="gallery : ${galleries}">
                <div class="col-md-4 mb-4">
                    <div class="card bg-dark text-white h-100">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${gallery.title}">Title</h5>
                            <p class="card-text" th:text="${gallery.description}">Description</p>
                            <a th:href="@{'/galleries/' + ${gallery.id}}" class="btn btn-outline-light me-2">View</a>
                            <a th:href="@{'/galleries/edit/' + ${gallery.id}}" class="btn btn-warning me-2">Edit</a>
                            <a th:href="@{'/galleries/delete/' + ${gallery.id}}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
